<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Interaktion #{{ i }}</h6>
    </div>
    <div class="card-body px-0 pt-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 col-lg-6"><p><div class="text-primary font-weight-bold">Shortcut</div>{{ interaction_shortcut.shortcut }}</p></div>
                <div class="col-xl-4 col-lg-6">
                    <a href=" {{ url_for('main.shortcut_delete', id=interaction_shortcut.id) }}" class="mt-4 btn btn-danger btn-icon-split float-xl-right float-sm-left">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Löschen</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>