{% extends "base.html" %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">{{ heading }}</h1>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
           <div class="small">
                {% for message in messages %}
                <p style="color: #e74a3b">{{ message }}</p>
                {% endfor %}
           </div>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('main.start_new_session') }}" method="post">
        {% for device in devices %}
            <input class="h4 text-lg" type="checkbox" name="device_checkbox" value="{{ device }}"><span> {{ device }}</span><br>
        {% endfor %}
        {% for interaction in interactions %}
            <input type="hidden" name="interaction_checkbox" value="{{ interaction }}">
        {% endfor %}
        <input type="submit" class="btn btn-primary btn-user mt-4" value="Weiter">
    </form>
{% endblock %}
