{% extends "base.html" %}

{% block content %}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h4 mb-0 text-gray-800">{{ heading }}</h1>
        </div>

        {% with messages = get_flashed_messages() %}
                {% if messages %}
                   <div class="small">
                        {% for message in messages %}
                        <p style="color: #e74a3b">{{ message }}</p>
                        {% endfor %}
                   </div>
                {% endif %}
        {% endwith %}

        <div class="container-fluid px-0">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Kinetose-Wahrscheinlichkeit</h6>
                        </div>
                        <div class="card-body px-0 pt-0">
                            <canvas id="prChart" class="chartjs-render-monitor" style="display: block;" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
