{% extends "base.html" %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">{{ heading }}</h1>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
           <div class="small">
                {% for message in messages %}
                <p style="color: #e74a3b">{{ message }}</p>
                {% endfor %}
           </div>
        {% endif %}
    {% endwith %}
    {% if interaction_shortcuts.count() > 0 %}
    <form action="{{ url_for('main.select_devices') }}" method="post">
        {% for interaction_shortcut in interaction_shortcuts %}
            {% set i = loop.index %}
            <input class="h4 text-lg" type="checkbox" name="interaction_checkbox" value="{{ interaction_shortcut.id }}"><span> Interaktion #{{ i }}: <span class="font-weight-bold text-gray-800">{{ interaction_shortcut.shortcut }}</span></span><br>
        {% endfor %}
        <input type="submit" class="btn btn-primary btn-user mt-4" value="Weiter">
    </form>
    {% else %}
        <h5>Es sind noch keine Interaktionsmöglichkeiten hinterlegt. Bitte zuerst eine <a href="{{ url_for('main.shortcuts') }}">Interaktionsmöglichkeit definieren</a>.</h5>
    {% endif %}
{% endblock %}
