{% extends "credentials.html" %}

{% block content %}
    <div class="container-fluid my-5" style="word-wrap: normal">

          <!-- 500 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="500">500</div>
            <p class="lead text-gray-800 mb-3">Moment mal</p>
            <p class="text-gray-500 mb-0">Irgendwas ist gerade in der Datenbank kaputt gegangen...</p>
            <a href="{{ url_for('main.index') }}">← Zurück</a>
          </div>

        </div>
{% endblock %}